{% extends 'base.html' %}
{% block title %}Add Schedule{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'sidebar.html' %}

<div class="content mt-3">

    <div class="card card-body mt-3">
        <div class="mb-3">
            <h4 class="d-inline">ADD SCHEDULE</h4>
            <a href="{% url 'view_schedule' %}" class="btn btn-sm btn-primary d-inline float-end">View Schedule</a>
        </div>
        {% for message in messages %}
        <p class="alert alert-success">{{message}}</p>
        {% endfor %}

        <form class="card card-body" method="POST">
            {% csrf_token %}

            <h6 class="card-header bg-success">New Schedule</h6>
            <div class="card-body row g-3">
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Date Schedule</label>
                    <input type="date" class="form-control form-control-sm" name="date_schedule" required>
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Time Schedule</label>
                    <input type="time" class="form-control form-control-sm" name="time_schedule" required>
                </div>
                <div class="col-12">
                    <label for="subjectOption" class="form-label col-form-label-sm">Subject</label>
                    <select id="subjectOption" class="form-select form-select-sm" name="subject" required>
                        {% for subjectOption in subjectOptions %}
                        <option>{{subjectOption}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-sm mt-2">Add Schedule</button>
        </form>
    </div>
</div>

{% endblock %}