{% extends 'base.html' %}
{% block title %}Edit Schedule{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'sidebar.html' %}


<div class="content mt-3">

    <div class="card card-body mt-3">
        <div class="mb-3">
            <h4 class="d-inline">EDIT SCHEDULE</h4>
        </div>

        <form class="card card-body" action="{% url 'update_schedule' scheduleItem.id %}" method="POST">
            {% csrf_token %}

            <h6 class="card-header bg-success">Editing Schedule</h6>
            <div class="card-body row g-3">
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Date Schedule</label>
                    <input type="date" class="form-control form-control-sm" value="{{scheduleItem.date_schedule}}"
                           name="date_schedule" required>
                </div>
                <div class="col-12">
                    <label class="form-label col-form-label-sm">Time Schedule</label>
                    <input type="time" class="form-control form-control-sm" value="{{scheduleItem.time_schedule}}"
                           name="time_schedule" required>
                </div>
                <div class="col-12">
                    <label for="subjectOption" class="form-label col-form-label-sm">Subject Handled</label>
                    <select id="subjectOption" class="form-select form-select-sm" value="{{scheduleItem.subject}}"
                            name="subject">
                        {% for subjectOption in subjectOptions %}
                        <option>{{subjectOption}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-sm mt-2">Update Schedule</button>
        </form>
    </div>
</div>

{% endblock %}