{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}

{% include 'navbar.html' %}
{% include 'sidebar.html' %}

<div class="content mt-5">

    <div class="container">
        <div class="row ms-5">
            <div class="card text-center bg-secondary">
                <div class="card-header">
                    <h5 class="text-light">TRAINING</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-5 ms-5">
                            <div class="card text-center bg-primary">
                                <div class="card-header">
                                    <h5 class="text-light">SEMINAR</h5>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title text-light"><i class="fa-solid fa-users-viewfinder me-1"></i>{{ seminars_count }}</h1>
                                    <a href="{% url 'view_seminar' %}" class="btn btn-sm btn-light">View Course</a>
                                </div>
                                <div class="card-footer text-light">
                                    Last modified
                                </div>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="card text-center bg-primary">
                                <div class="card-header">
                                    <h5 class="text-light">WORKSHOP</h5>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title text-light"><i class="fa-solid fa-user-group me-1"></i>{{ seminars_count }}</h1>
                                    <a href="{% url 'view_seminar' %}" class="btn btn-sm btn-light">View Seminar</a>
                                </div>
                                <div class="card-footer text-light">
                                    Last modified
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-center bg-secondary mt-4">
                <div class="card-header">
                    <h5 class="text-light">SKILLS</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-5 ms-5">
                            <div class="card text-center bg-primary">
                                <div class="card-header">
                                    <h5 class="text-light">SEMINAR</h5>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title text-light"><i class="fa-solid fa-users-viewfinder me-1"></i>{{ seminars_count }}</h1>
                                    <a href="{% url 'view_seminar' %}" class="btn btn-sm btn-light">View Course</a>
                                </div>
                                <div class="card-footer text-light">
                                    Last modified
                                </div>
                            </div>
                        </div>

                        <div class="col-5 ms-5">
                            <div class="card text-center bg-primary">
                                <div class="card-header">
                                    <h5 class="text-light">SEMINAR</h5>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title text-light"><i class="fa-solid fa-users-viewfinder me-1"></i>{{ seminars_count }}</h1>
                                    <a href="{% url 'view_seminar' %}" class="btn btn-sm btn-light">View Course</a>
                                </div>
                                <div class="card-footer text-light">
                                    Last modified
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}