<nav class="navbar navbar-expand-lg navbar-light bg-success px-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">LOGO</a>

    <div class="collapse navbar-collapse">
        <a class="text-decoration-none text-light" href="#">USMscc - Skills and Training Portal bbb</a>
    </div>
    <span class="me-2 text-light">Welcome {{request.user}}!</span>


 {% if user.is_authenticated %}

                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
               <a class="nav-item nav-link" href="{% url 'login' %}">Logout</a>

              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}

</nav>
