<div class="sidebar mt-3">

    <ul class="navbar navbar-nav d-flex flex-column w-100">

        <li class="nav-item w-100">
            <a href="{% url 'home' %}" class="nav-link text-dark pl-4 ps-3"><i class="fa-solid fa-gauge me-1"></i>Dashboard</a>
        </li>

        <li class="nav-item w-100">
            <a href="#" class="nav-link dropdown-toggle text-dark pl-4 ps-3" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-users-viewfinder me-1"></i>Course</a>
            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                <li><a href="{% url 'add_course' %}" class="dropdown-item text-dark ps-5 p-1"><i class="fa-solid fa-plus me-1"></i>Add Course</a></li>
                <li><a href="{% url 'view_course' %}" class="dropdown-item text-dark ps-5 p-1"><i class="fa-solid fa-eye me-1"></i>View Course</a></li>
            </ul>
        </li>

        <li class="nav-item w-100">
            <a href="#" class="nav-link dropdown-toggle text-dark pl-4 ps-3" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user-group me-1"></i>Student</a>
            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                <li><a href="{% url 'add_student' %}" class="dropdown-item text-dark ps-5 p-1"><i class="fa-solid fa-plus me-1"></i>Add Student</a></li>
                <li><a href="{% url 'view_student' %}" class="dropdown-item text-dark ps-5 p-1"><i class="fa-solid fa-eye me-1"></i>View Student</a></li>
            </ul>
        </li>

        <li class="nav-item w-100">
            <a href="#" class="nav-link dropdown-toggle text-dark pl-4 ps-3" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user-check fa-fw me-1"></i>Faculty</a>
            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                <li><a href="{% url 'add_faculty' %}" class="dropdown-item text-dark ps-5 p-1"><i class="fa-solid fa-plus me-1"></i>Add Faculty</a></li>
                <li><a href="{% url 'view_faculty' %}" class="dropdown-item text-dark ps-5 p-1"> <i class="fa-solid fa-eye me-1"></i>View Faculty</a></li>
            </ul>
        </li>

        <li class="nav-item w-100">
            <a href="#" class="nav-link dropdown-toggle text-dark pl-4 ps-3" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-calendar-days me-1"></i>Schedule</a>
            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                <li><a href="{% url 'add_schedule' %}" class="dropdown-item text-dark ps-5 p-1"><i class="fa-solid fa-plus me-1"></i>Add Schedule</a></li>
                <li><a href="{% url 'view_schedule' %}" class="dropdown-item text-dark ps-5 p-1"> <i class="fa-solid fa-eye me-1"></i>View Schedule</a></li>
            </ul>
        </li>
    </ul>

</div>

