{% extends 'base.html' %}
{% block title %}View Workshop{% endblock %}

{% load widget_tweaks %}

{% block content %}

{% include 'navbar.html' %}
{% include 'sidebar.html' %}

<div class="content mt-3">
    <div class="card card-body mt-3">
        <h4 class="mb-3">VIEW FACULTY</h4>
        {% for message in messages %}
        <p class="alert alert-success">{{message}}</p>
        {% endfor %}

        <div class="card card-body">
            <form method="GET">
                <h6 class="text-muted">Filter by:</h6>
                <div class="row">
                    <div class="form-group col-3">
                        <h6>{{ workshopFilter.form.first_name.label_tag }}</h6>
                        {% render_field workshopFilter.form.first_name class="form-control form-control-sm" %}
                    </div>
                    <div class="form-group col-3">
                        <h6>{{ workshopFilter.form.last_name.label_tag }}</h6>
                        {% render_field workshopFilter.form.last_name class="form-control form-control-sm" %}
                    </div>
                    <div class="form-group col-4">
                        <h6>{{ workshopFilter.form.subject_handled.label_tag }}</h6>
                        {% render_field workshopFilter.form.subject_handled class="form-control form-control-sm" %}
                    </div>

                    <div class="col-2">
                        <button class="btn btn-sm btn-primary mt-4 px-3 fw-bold" type="submit">
                            <i class="fa-solid fa-magnifying-glass me-1"></i>Search
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div class="card card-body mt-2">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Firs Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Subject Handled</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for workshop in workshops %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{workshop.first_name}}</td>
                    <td>{{workshop.last_name}}</td>
                    <td>{{workshop.subject_handled}}</td>
                    <td><a href="{% url 'edit_workshop' workshop.id %}" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'delete_workshop' workshop.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}